on:
  push:
    tags:
      - v[0-9]+.*

name: Publish

permissions:
  id-token: write

jobs:
  crates_publish:
    name: Publish (crates.io)

    runs-on: ubuntu-latest
    timeout-minutes: 25
    steps:
      - uses: actions/checkout@v4

      - uses: Swatinem/rust-cache@v2

      - run: cargo install cargo-v

      - name: cargo update version
        run: cargo v $(git describe --tags | grep -oP '^v?\K[0-9]+\.[0-9]+\.[0-9]+') -y

      - name: cargo login
        run: cargo login ${{ secrets.CARGO_REGISTRY_TOKEN }}

      - name: "cargo release publish"
        run: |-
          cargo publish \
            --allow-dirty \
            --no-verify \

  npm_publish:
    name: Publish (npm)

    runs-on: ubuntu-latest
    timeout-minutes: 25
    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"
          registry-url: "https://registry.npmjs.org"

      - name: export types
        run: cargo test -F typescript

      - name: build basic info
        run: node gen-types.mjs

      - run: npm publish --provenance --access public
        working-directory: ./bindings
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
